h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.head {
  text-align: center;
}

#taxrates {
    margin: 1%;
}

.prez {
  color: black !important;
  height: auto !Important;
}

#presidents {
    width: 25%;
    margin: auto;
}

.taxPlus {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: Gill Sans Extrabold, sans-serif;
    color: #008000;
    height: auto;
    margin: 1%;
}

#incomeTaxForm {
    text-align: center;
    padding: 1%;
}

#tax-form {
    text-align: center;
    margin: auto;
    padding-top: 1%;
}

#calc {
    background-color: black;
    color: white;
    border-radius: 15%;
    margin: 1%;
}

#clear {
  background-color: black;
  color: white;
  border-radius: 15%;
  margin: 1%;
}

#calcFedTax {
  background-color: black;
  color: white;
  border-radius: 15%;
  margin: 1%;
}

#clearIncome {
  background-color: black;
  color: white;
  border-radius: 15%;
  margin: 1%;
}

input {
    padding: 5px;
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    background-color: #dee1e4;
    padding: 10px;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.total {
  text-align: center;
}

.incomeTax {
    text-align: center;
    color: red;
    font-weight: bold;
    font-family: Gill Sans Extrabold, sans-serif;
    padding: 0 0 1% 0;
}

h2 {
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
    background-color: lightgrey;
}

.triangle {
    width: 8px;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -.1em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url("../images/triangle.png");
    padding: 0 2px 0 0;
}

* {
  margin: 0;
  padding: 0;
  transition: 0.1s; }

body {
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  text-align: left;
  font-size: 18px;
  color: #303030; }

.spring-game {
  max-width: 60%;
  margin: 0 auto;
  margin: 2% 20% 2% 20%;
}

h3 {
  color: #C3FF00;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

h4 {
  text-transform: uppercase;
  color: orange !important;
  text-shadow: 1px 1px black !important;
}

.disabled h3 {
  color: #535353;
  cursor: not-allowed; }

.button-active {
  color: #C3FF00;
  background-color: #535353; }

.hide {
  display: none; }

.card {
  margin: 1em 0; }
  .card .jesse,
  .card .austin,
  .card .brent,
  .card .rob {
    /* background-size: 28em 15em; */
    background-position: center;
    height: 14em;
    transition: 0.2s; }
  .card .austin {
    background-image: url("https://i.imgur.com/wRlb2pN.jpg"); }
  .card .brent {
    background-image: url("https://i.imgur.com/9J7wMJq.jpg"); }
  .card .jesse {
    background-image: url("https://i.imgur.com/5trscXj.jpg"); }
  .card .rob {
    background-image: url("https://i.imgur.com/XJ2akRG.jpg"); }
  .card .photo-active {
    background-size: 30.8em 16.5em;
    transition: 0.2s; }
  .card .name-learn {
    margin-top: -5px;
    background-color: #C3C3C3;
    display: flex;
    justify-content: space-between; }
    .card .name-learn h4,
    .card .name-learn p {
      padding: 0.7em 1.25em;
      text-shadow: 1px 1px white; }
    .card .name-learn div {
      display: flex; }
    .card .name-learn .more-details-button {
      background-color: #535353;
      padding: 0.75em 1.25em;
      cursor: pointer;
      width: 1em;
      transition: 0.1s; }
      .card .name-learn .more-details-button img {
        position: relative;
        left: 0.1em; }
      .card .name-learn .more-details-button .rotate {
        transition: 0.1s;
        transform: rotate(90deg); }
  .card .notes {
    display: none;
    background-color: #535353;
    color: #EFEFEF; }
    .card .notes .active {
      background-color: #C3FF00;
      color: #303030; }
  .card .size-chart,
  .card p {
    padding: 1em 1.25em; }
    .card .size-chart ul,
    .card p ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      margin-top: 1em; }
      .card .size-chart ul li,
      .card p ul li {
        padding: 0.5em;
        background-color: #303030;
        width: 100%;
        text-align: center;
        margin-right: 2px; }
  .card .buy-now-button {
    background-color: #303030;
    text-align: center;
    padding: 0.75em;
    cursor: pointer; }
