h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
  text-align: center;
}

.prez {
  color: black !important;
  height: auto !Important;
}

#presidents {
    width: 50%;
    margin: auto;
}

.taxPlus {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: Gill Sans Extrabold, sans-serif;
    color: #008000;
    height: auto;
    margin: 1%;
}

#incomeTaxForm {
    text-align: center;
    padding: 2%;
}

#tax-form {
    text-align: center;
    margin: auto;
}

#calc {
    background-color: black;
    color: white;
    border-radius: 15%;
}

#clear {
  background-color: black;
  color: white;
  border-radius: 15%;
}

#calcFedTax {
  background-color: black;
  color: white;
  border-radius: 15%;
}

#clearIncome {
  background-color: black;
  color: white;
  border-radius: 15%;
}

input {
    padding: 5px;
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    background-color: #dee1e4;
    padding: 10px;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.total {
  text-align: center;
}

.incomeTax {
    text-align: center;
    color: red;
    font-weight: bold;
    font-family: Gill Sans Extrabold, sans-serif;
}

h3 {
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
    background-color: lightgrey;
}

.triangle {
    width: 8px;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -.1em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url("../images/triangle.png");
    padding: 0 2px 0 0;
}
